<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <!--Entity Framework-->
  <entityFramework>
    <contexts>
      <context type="Microsoft.Samples.NLayerApp.Infrastructure.Data.MainBoundedContext.UnitOfWork.MainBCUnitOfWork, NLayerApp.Infrastructure.Data.MainBoundedContext">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[Microsoft.Samples.NLayerApp.Infrastructure.Data.MainBoundedContext.UnitOfWork.MainBCUnitOfWork, NLayerApp.Infrastructure.Data.MainBoundedContext], [Microsoft.Samples.NLayerApp.Infrastructure.Data.MainBoundedContext.Migrations.Configuration, NLayerApp.Infrastructure.Data.MainBoundedContext]], EntityFramework" />
      </context>
    </contexts>
  </entityFramework>
  <!--System Web -->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <!--Connection Strings -->
  <connectionStrings>
    <add name="Microsoft.Samples.NLayerApp.Infrastructure.Data.MainBoundedContext.UnitOfWork.MainBCUnitOfWork" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Initial Catalog=NLayerAppV2;Integrated Security=true;MultipleActiveResultSets=True" />
  </connectionStrings>
  <!--Web Server-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <!--System Service Model -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBindingConfiguration" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="SilverlightBehaviorExtension" type="Microsoft.Samples.NLayerApp.DistributedServices.Seedwork.EndpointBehaviors.SilverlightFaultBehavior, NLayerApp.DistributedServices.Seedwork, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SilverlightFaults">
          <SilverlightBehaviorExtension />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Microsoft.Samples.NLayerApp.DistributedServices.MainBoundedContext.BankingModuleService">
        <endpoint address="" behaviorConfiguration="SilverlightFaults" binding="basicHttpBinding" bindingConfiguration="basicBindingConfiguration" name="basicSilverlight" contract="Microsoft.Samples.NLayerApp.DistributedServices.MainBoundedContext.IBankingModuleService" />
      </service>
      <service name="Microsoft.Samples.NLayerApp.DistributedServices.MainBoundedContext.ERPModuleService">
        <endpoint address="" behaviorConfiguration="SilverlightFaults" binding="basicHttpBinding" bindingConfiguration="basicBindingConfiguration" name="basicSilverlight" contract="Microsoft.Samples.NLayerApp.DistributedServices.MainBoundedContext.IERPModuleService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>